#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 20px auto;
  width: 320px;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #a5682a;
  border-radius: 50%;
  border: 5px solid #53351a;
  overflow: hidden;
}

.character {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.kwak {
  background-image: url('https://via.placeholder.com/80x80.png/FF0000/FFFFFF?text=곽대표');
}

.lee {
  background-image: url('https://via.placeholder.com/80x80.png/00FF00/FFFFFF?text=이팀장');
}

.jin {
  background-image: url('https://via.placeholder.com/80x80.png/0000FF/FFFFFF?text=진과장');
}

.kim {
  background-image: url('https://via.placeholder.com/80x80.png/FFFF00/000000?text=김과장');
}
